.prose {
	@import "./callout.css";
	@import "./phonetics.css";
	@apply max-w-3xl space-y-7 text-xl dark:text-white;

	> a {
		@apply block;
	}

	a {
		@apply font-medium underline underline-offset-2 text-secondary;

		&:hover {
			@apply text-tertiary;
		}

		&.broken {
			@apply opacity-70 cursor-not-allowed;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mt-8;
	}

	h1 {
		@apply font-bold text-2xl;
	}

	h2 {
		@apply font-semibold text-xl;
	}

	h3 {
		@apply font-semibold text-lg;
	}

	h4 {
		@apply font-medium text-base;
		font-variant: small-caps;
	}

	h5 {
		@apply font-medium text-sm;
		font-variant: small-caps;
	}

	h6 {
		@apply font-normal text-sm;
		font-variant: small-caps;
	}

	strong,
	em {
		@apply dark:text-accent;
	}

	strong {
		@apply font-bold;
	}

	ul,
	ol {
		@apply space-y-2 pl-10;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	blockquote {
		@apply border-l pl-4 my-4 opacity-70;
	}

	hr {
		@apply text-gray;
	}

	span.hashtag {
		@apply text-gray font-light text-[0.9em];
	}

	.table-container {
		@apply overflow-x-auto;

		& > table {
			@apply mx-4 p-6 border-collapse;

			th,
			td {
				@apply min-w-20;
			}

			& > * {
				@apply leading-8;
			}
		}
	}

	th {
		@apply text-left font-medium py-2 px-3
      border-solid border-gray border-b-2;
	}

	td {
		@apply px-1 py-3;
	}

	tr:not(:last-child) {
		@apply border-b border-solid border-light-gray dark:border-dark-gray;
	}

	img {
		@apply mx-auto;

		&[src$="#invert"] {
			@apply invert;
		}

		&[src$="#invertW"] {
			@apply dark:invert;
		}
	}
}
