@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@wooorm/starry-night/style/both";

mjx-container {
	display: inline;
	line-height: normal;
}

mjx-container[display="true"] {
	display: block;
}

mjx-container svg,
mjx-container math {
	display: inline;
}

a.broken {
	@apply text-gray-500 cursor-not-allowed;
}
